$bottomBarHeight: 65px;
$bottomBarBorderWidth: 1px;

.app {
  width: 100%;
  background: linear-gradient(28deg, #F0F0F0 0%, #C5C3C3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #c8c8c8;
}

.mainContent{
  overflow: hidden;
  width: 100%;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth});
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
}
