.amountOfRain {
  width: 100px;
}

.rainDuration {
  width: 70px;

  .rainDurationValue {
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 4px;
  }

  .rainDurationButtons {
    text-align: center;
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    svg {
      width: 20px;
      height: 20px;
      margin-top: 2px;
      margin-right: 3px;
      margin-left: 3px;
      border-radius: 10px;
      &:hover {
        box-shadow: 0 0 0 4px rgba(255,255,255,0.5);
      }
      &:active {
        box-shadow: 0 0 0 4px rgba(255,255,255,1);
      }
    }
  }
}

.startingWaterLevel {
  width: 80px;
}

.leveesCount {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 32px;
  height: 14px;
  font-size: 12px;
  background: #dfdfdf;
  border-radius: 7px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.timeSlider {
  width: 280px;
}
