.graphContainer {
  padding-top: 10px;
  flex: 10;
}

.graph {
  height: calc(100% - 70px);
  position: relative;

  .legend {
    font-size: 14px;
    color: #434343;
    font-family: "Roboto Condensed", Lato, Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 7px;
    right: 6px;

    .line {
      width: 30px;
      height: 3px;
      vertical-align: middle;
      display: inline-block;
      margin: 0 5px 1px 0;
    }
  }
}
